:root {
  --font-family: Oswald, sans-serif;
  --font-weight: 700;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #515151;
  border-radius: 6px;
}

button {
  cursor: pointer;
}

p {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;
} 

a {
  cursor: pointer;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  color: #fff;
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  block-size: 100%;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

.content {
  display: flex;
  gap: 30px;
  align-items: flex-end;
}


.result {
  display: flex;
  flex-direction: column;
}
video {
  width: 100%;
}

.result__video-container {
  position: relative;
  inline-size: 711px;
  margin-bottom: 16px;
}

.content__details {
  width: 100%;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content__list {
  position: relative;
  overflow-y: scroll;
  height: 345px;
  width: 462px;
}

.content__list-item {
  margin-bottom: 30px;
}

.content__card-link {
  display: block;
  margin: 2px;
  padding: 1px 0px;
  text-decoration: none;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link_current{
  background-color: #545050;
}

.content__card-link:hover {
  text-decoration: underline 1px solid #FFF;
}

.content__card-link:focus {
outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #FFF;
}

.content__video-card:active {
  background-color: #545050;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
}

.title {
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  text-transform: uppercase;
  line-height: 70.5px;
  padding-bottom: 26px;
  font-size: 75px;
}

.content__video-card-title {
  text-transform: uppercase;
  font-size: 30px;
  font-family: var(--font-family);
}

.content__accent {
  color: #545050;
}

.content__video-card-description {
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.content__video-card-thumbnail {
  inline-size: 194px;
  block-size: 103px;
  object-fit: cover;
}

.search-form {
  display: flex;
  align-items: center;
  gap: 40px;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-weight: 400;
  font-family: 'Fira Sans Condensed', sans-serif;
}

.search-form__fieldset {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: none;
}

.search-form__textfield {
  background-color: transparent;
  font-family: 'Fira Sans Condensed', sans-serif;
  color: #FFF;
  inline-size: 225px;
  height: 30px;
  font-size: 18px;
  border-top: 1px solid #fff;
  border-right: none;
  border-bottom: 1px solid #FFF;
  border-left: none;
  outline: none;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield:focus-visible {
  outline: none;
}

.search-form__checkbox-list {
  display: inline-flex;
  justify-content: space-between;
  gap: 15px;
}

.search-form__label {
  display: flex;
  gap: 5px;
  align-items: center;
}

.search-form__label:hover {
  border-bottom: 1px solid #FFF;
}

.search-form__label:hover .search-form__textfield {
  border-bottom: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #FFF;
  outline-offset: 1px;
}


.search-form__pseudo-checkbox {
  display: inline-block;
  border: 1px solid #FFF;
  background-color: transparent;
  height: 20px;
  width: 20px;
}

.search-form input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}

.search-form input[type="checkbox"]:checked + .search-form__pseudo-checkbox::before {
  content: "";
  display: block;
  position: relative;
  height: 100%;
  border: 2px solid #000;
  background-color: #FFF;
}

.search-fotm__label-text {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
}

.button {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 700;
  height: 34px;
  width: 100%;
  font-size: 18px;
  border: 1px solid #fff;
  background: transparent;
  color: #FFF;
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}


.search-form__submit-button {
  height: 34px;
}

.button:active {
  background-color: #545050;
}

.button:hover {
  text-decoration: underline;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #FFF;
  outline-offset: 1px;
}

.search-form__submit-button {
  align-self: flex-end;
}